body{background-color: rgba(137, 11, 240, 0.829);
}
.top {
  margin-left: auto;
      margin-right: auto; 
      width: 1150px;
      padding: 4px; 
      margin-top: 10px; 
      border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu a{
  color:aliceblue;
  border-width: 100vh;
  border-color: aquamarine;}

  .barra{
    width: 1000px;
    height: 100px;
    text-align:center ;

}


main{ height: 1200px;
  width:1200px;
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 4px;
  padding: 8px; 
  border: 2px solid black;}

  header {height: 150px; 
      width:1200px;
      margin-left: auto; 
      margin-right: auto; 
      margin-bottom: 4px; 
      padding: 8px;
      border: 2px transparent}


  footer {height:190px; 
      width: 1100px;  
      margin-left: auto; 
      margin-right: auto;
      margin-bottom: 4px;  
      padding: 8px; 
      border: 2px solid black;}
    

nav {width: 1200px; 
  height: 40px;
  border: 4px transparent; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 2px;
 }

 nav ul { background:transparent;height: 30px; padding: 3px; border: 3px outset  transparent;}
 nav li {list-style: none; padding: 4px 105px; background: rgb(227, 172, 242); border: 10px  rgb(227, 172, 242);
  margin-bottom: 2px; font: 16 verdana; float:left;}
  nav a { color: rgb(0, 0, 0); text-decoration: none;}
nav li:hover {color: rgb(111, 44, 169); background-color: rgb(247, 245, 245);}
nav li ul {	position: absolute;
      width: 280px;
      height: 80px; 
      left: 625px;
      top: 166px;
      display: none; }
nav li:hover ul {display: block;}
  